#output{
  background-color: rgba(0,0,0,1);
  width: auto;
  max-width: 160px;
  padding: 5px 10px;
  border-radius: 10px 0 0 0;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: monospace;
  font-size: 12px;
}
